.main_header{
    display: flex;
        justify-content: center;
        font-weight: bold;
        box-sizing: border-box;
        color: black;
        width: 95%;
        height: 80px;
        background: white;
        margin-top: -5px;
}.header2{
    display: flex;
    align-items: center;
    margin: 30px;
    margin-top: 4px;
    justify-content: space-around;
    /* border: 2px solid red; */
}
.head2{
    margin-top: 10px;
}
.started {
    padding: 15px 15px 15px 15px;
    color: aqua;
    text-align: center;
    margin-bottom: -60px;
    border: 2px solid aqua;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;

}
p{
   writing-mode: vertical-rl;
transform: rotateZ(180deg);
font-size: 20px;
color: black;
margin-bottom: -65px;
  
}
.siren{
    font-size: 50px;
    color: black;
  
}
.hamber{
    display: none;
}
h1 {
    color: aquamarine;
}

.link {
    background-color: antiquewhite;
}

.nav {
        display: flex;
            justify-content: space-around;
            margin: 0px 15%;
            font-size: 32px;
            box-sizing: border-box;
            height: 100px;
            background: white;
            margin-top: -30px;
            text-decoration: none;
            border-bottom: 2px solid rgb(213, 205, 205);}
.nav2 {
    display: flex;
    justify-content: space-around;
    margin: 0px 15%;
    font-size: 32px;
   box-sizing: border-box;
   height: 100px;
   margin-top: -30px;
    text-decoration: none;
    border-bottom: 2px solid rgb(213, 205, 205);
}
.none {
    text-decoration: none;
    font-size: 26px;
}
.header-nav{
    width: 100%;
        margin: 0px;
        padding: 0px;
        position: fixed;
        background: white;
        margin-top: -30px;
        z-index: 7;}
.hFooter *{
    color: rgb(245, 250, 254)!important; 
}
@media (min-width:270px) and (max-width:580px) {
  .siren{
    font-size: 30px;
    color: rgb(164, 110, 110);
    margin-left: -9px;
    margin-top: 5px;
}  
.nav {
    display: inline-block;
}
.nav2 {
    display: none;
}
.main_header{
    display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        margin-top: 20px;
        /* margin-top: px; */
        height: 82px;
        /* padding-top: 50px; */
        width: 90%;
        border-radius: 8px;
        border: 0px solid;
        color: wheat;
        width: auto;
        background-color: rgb(255, 255, 255);
}
.hamber{
    display:inline-block;
    font-size: 50px;
    margin-right: 15%;
}
 .nav {
    display: inline-block;
        justify-content: space-around;
        margin-left: 1%;
        font-size: 12px;
        width: 350px;
        height: 260px;
        margin-top: 10px;
        background: white;
        flex-direction: column;
        text-decoration: none;
        color: red;
        border-bottom: 2px solid rgb(213, 205, 205); }

 .none {
     text-decoration: none;
     font-size: 16px;
     color: red;
 }
 P{
margin-bottom: 5px;
 }
}